/* card clicks */
.card:active {
  background: #b91f1f;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

/* MOBILE */
@media only screen and (max-width: 600px) {
  div .jumbotron-fluid h1,
  p {
    font-size: 2rem;
  }
}
/*  DESKTOP */
@media only screen and (min-width: 601px) {
  main .container {
    max-width: 748px;
  }
}
